/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*==========================================================================
   Author's custom styles
========================================================================== */


/* General Styles */
 
html {
	font-size: 16px;
}
 
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #e2e3ed;	
}
 
ul, 
ol {
	text-transform: uppercase;
}

 
a {
	color: #e2e3ed;
	text-decoration: none;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.25rem;
	font-weight: 500;
}
 
h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.875rem;
	font-weight: 500;
}
 
h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.125rem;
	font-weight: 500;
} 
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 500;
}
 
p {
	font-size: 0.875rem;
	line-height: 1.125rem;
}
 
img {
	width: 100%;
 
}
 
figure {
	margin: 0;
 
}
 
address {
	font-style: normal;
}
 
.content-wrapper {
  width: 90%;
  margin: 50px 0;
 
}
/***** Base Header - Footer Styles ****/ 
   
 header, 
 footer {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
	 background-color: #202322;
 }
 
 
 /***** Header Styles *****/
   
 header {
  padding: 15px 0;
 }
 
 header .content-wrapper {
	display:flex;
	justify-content: center;
	align-items: center;	
	flex-flow: row wrap;
	margin: 0;
 }
 
 header figure {
	width: 60%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
 }
 
 .header-divider {
	background: #3a3a3a; 
	height: 1px;
	width: 100%;
	margin: 10px 0 20px 0;
 }
 
 header nav {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
	 width: 60%;
 }
   
header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	width: 70%;
	margin: 0;
	padding: 0;
	list-style: none;
}
   
header nav ul li {
	padding: 0;
	font-size: 1.125rem;
	font-weight: 700;
}

/***** Mobile Styles - Homepage *****/

.hero-area {
	height: 500px;
	background-image: url('../img/hero2.jpg');
	background-position: center;
	background-size: cover;
	 display:flex;
	 justify-content: center;
	 align-items: flex-start;
	 flex-flow: row wrap;
}

.hero-area h1 {
	margin: 50px 10px 0 10px;
	
}
   
aside {
	 min-height: 350px;
	 display:flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
	 background-color: #527158;
}


.form, .form-description  {
	margin: 10px;
} 

.features {
	background-image: url('../img/reviews-background.png');
	background-position:center;
	background-size: cover;
}

.features h2 {
	margin: 0 10% 45px 5%;
	padding-top: 45px;
}

.features i {
	font-size: 3.75em;
}

.features-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	padding-bottom: 30px;
}

.features-item {
	display: flex;
	width: 45%;
	text-align: center;
	flex-flow: column;
	margin-bottom: 30px;
}

.reviews {
	background-color: #2a423a;
	padding: 30px 0;
}

.reviews h2 {
	margin: 30px 5%;
	line-height: 30px;
}

.reviews-wrapper {
	margin: 0 5%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
}
 .reviews figure {
	 margin: 0;
 }
/***** Mobile Styles - FAQ & About pages ******/

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission-content {	 
	 display:flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
}

.mission h2 {
	margin: 0;
}

.map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 125%; 
    overflow: hidden;
    position: relative;
}
 
.map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
}

.contact-wrapper {
	background-color: #2a423a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.contact-wrapper h2{
	margin: 0;
}
	
.contact-content p {
  margin: 0;
}	

.faq-section {
	background-color: #527158;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
	
.faq-section .content-wrapper {
	 display:flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
	margin: 50px 0;
}

.faq-section h2 {
	line-height: 1.875rem;
	width: 90%;
	margin: 0;
}
.faq-content {
	width: 90%;
}



/***** Footer Styles *****/

footer {
	
}

footer .footer-content {
	width: 90%;
	margin: 20px 0;
	 display:flex;
	 justify-content: center;
	 align-items: center;
	 flex-flow: row wrap;
}

footer .contact-section {
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer .contact-item {
	width: 100%;
	text-align: center;
}

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
}
footer .fontawesome-icon {
	display:flex;
	font-size: 1em;
	border-radius: 50%;
	background-color: #527158;
	padding: 1em;
	margin: 1em;
}

footer .contact-item h4 {
	margin: 30px 0 10px 0;
}

footer p {
	margin: 0;
	color: #e2e3ed;
}

.copyright {
	padding-top: 20px;
}

/***** Form Styles *****/

aside .form {
  margin-top: 10px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 760px) {
/*Tablet styles here*/

	.content-wrapper {
		max-width: 85%;
		margin: 100px 0;
	}
	
	h2 {
		font-size: 2.25rem;
		line-height: 3rem;
		
	}
	
	h4 {
		font-size: 1.5rem;
	}
	
	p {
		font-size: 1.125rem;
	}
  
	header {
		justify-content: space-around;
		padding: 33px 0;
	}
	header .content-wrapper {
		width: 100%;
		justify-content: space-between;
		flex-flow: row;
	}
	header nav {
		max-width: 25%;
	}
	
	header nav ul li {
		font-size: 1rem;
    }
	
	header figure {
		width:30%;
	}
	
	.header-divider{
		display:none;
	}

	.hero-area {
		height: 600px;
	}
	.hero-area h1{
		margin: 90px 60px 0 60px;
		text-align: left;
		font-size: 3rem;
		line-height: 3rem;		
	}
	aside {
		min-height: 240px;
		display:flex;
		justify-content: space-around;
		align-items: center;	
		flex-flow: row wrap;
	}

	aside h3 {
		font-size: 1.5rem;
		line-height: 1.875rem;
	}
	
	.form-description {
		max-width: 33%;
		height: 200px;
		padding-top: 24px;
	}
	.form-description h3 {
		 margin: 0;
	
	}
	
	.form {
		margin: 10px 0;
		max-width: 33%;
	}
	
	input[type=text] {
		padding: .5em;
	}
	input[type=button] {
	padding: 10px 0;
	}
	  /* Features */

	.features-container {
		height: 700px;
		width: 75%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		margin-left: 100px;
	}
	.features h2 {
		margin: 0 50px;
		text-align: left;
		font-size: 2.25rem;
		padding-top: 80px;	
		padding-bottom:20px;
	}
	.features i {
		font-size: 4.5rem;
	}
	.features-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		flex-basis: 50%;
	}
  
	.features .features-item-description {
		width: 62%;
	}

	.reviews {
		margin: 0;
		min-height: 500px;
		display:flex;
		justify-content: center;
		flex-flow: column;
		padding-top: 0;
	}
	
	.reviews h2, 
	.reviews h3 {
		text-align: left;
	}
	
	.reviews h2{
		margin: 30px 50px;
		max-width: 85%;
		font-size: 2.25rem;
		line-height: inherit;
	}
	.reviews h3 {
		font-size: 1.5rem;
		width: 80%;
		margin: 0;
	}
	
	.reviews-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		margin: 0 50px;
	}
	
	.review-item {
		max-width: 45%;
		display: flex;
		flex-flow: column;
		margin: 0 20px;
	}
	
	.reviews figure {
		width: 49%;
		margin: 0;
		overflow: hidden;
	}
	
	footer .footer-content {
		display:flex;
		flex-flow:column;
		height: 360px;
		
	}
	
	footer .contact-section {
		width: 100%;
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: row;
	}

	footer .contact-item {
		max-height:150px;
		max-width: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
	}
	
	footer .contact-item  h4 {
		font-size: 1.5rem;
		margin-bottom: 40px;
	}
	
	footer p {
		line-height: 1.5rem;
	}
	
	.copyright {
		padding-top: 100px;
	}
	
/***** About Page for Tablet *****/
	.mission-content {
		display: flex;
        justify-content: space-between;
        align-items: flex-start;
		flex-flow: row wrap;
    }
	.mission-content h2{
		margin-bottom: 20px;
		font-size: 2.25rem;
		line-height: inherit;
	}
    .mission-content p {
        max-width: 45%;
		margin: 0;
    }
	
	.map figure {
		padding-bottom: 45%;
	}
	
	.contact-content {
		display: flex;
        justify-content: space-between;
        align-items: flex-start;
		flex-flow: row wrap;
    }
	.contact-content h2{
		margin-bottom: 20px;
	}
	
	


/***** Faq Page for Tablet *****/

	.faq-section .content-wrapper {
        justify-content: space-between;
    }
    
    .faq-content {
        flex-basis: 45%;
    }
 
    .faq-section h2 {
        width: 100%;
		padding-bottom: 30px;
    }

	.faq-section h4,
	.faq-section p {
		font-size: .875rem;
		line-height: 1.125rem;
	}
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/

	header {
		padding: 15px 0;
	}

	.content-wrapper {
		max-width: 80%;
	}
	
	h2 {
		font-size: 3rem;
	
	}
	
	h4{
		font-size: 1.875;
	}
	
	p {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}

	header .content-wrapper {
    margin: 22px 5% 22px 120px;
	}
	
	header figure {
		width:25%;
	}
	
	header nav ul li {
    font-size: 1.125rem;
	}
	
	aside h3 {
		font-size: 1.875rem;
	}
	
	aside p {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
	
	input[type=button] {
		font-size: 1.5rem;
	}
	
	.hero-area h1 {
		margin-top: 50px;
		margin-left: 120px;
		margin-right: 380px;
		text-align: left;
		font-size: 3.75rem;
		line-height: inherit;
	}

	.features-container {
		 height: 600px;
		 width:83%;
		 display:flex;
		 justify-content: space-around;
		 align-items: center;
		 flex-flow: row wrap;
		 margin-left: 100px;
		 padding-bottom: 50px;
	 }
	.features-item {
		width: 31%;
		display:flex;
		text-align: center;
		margin: 0 10px;
		flex-basis: auto;
	}
	.features-item p{
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
	
	.reviews-wrapper {
		align-items: flex-start;
	}
	.reviews figure {
		width: 40%;
	}
	.reviews h2 {
		margin: 30px 5% 30px 105px;
		padding-bottom: 50px;	
	}
	
	.review-item {
		width: 42%;
	}
	.review-item h3 {
		font-size: 1.875rem;
	}
	.review-item p {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
	
	footer .contact-item h4 {
		font-size: 1.875rem
	}
	footer p {
    font-size: 1.125rem;
    line-height: 1.5rem;
	}
	.map figure {
		padding-bottom: 37.5%;
	}
	
	.mission-content h2{
		font-size: 3rem;
	}
	
	.faq-section h2 {
		width: 100%;
		font-size: 3em;
	}

	.faq-section h4,
	.faq-section p {
		font-size: 1.125em;
		line-height: 1;
	}
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

